@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* Learning flexbox*/
.tweet-container {
    background-color: white;
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 50px;
    width: 475px;
    height: 150px;
    
    font-family: helvetica;
    
    /*FLEXXX*/
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: col;
  }
  
  /*LEFT COLUMN OF THE TWEET*/
  .left {
    flex: 1;
    order: 1;
  }
  
  .pic {
    position: absolute;
    height: 75px;
    width: 75px;
    margin:10px;
    border-radius:5px;
    transition: 0.25s linear;
  }
  
  /*RIGHT COLUMN OF THE TWEET*/
  .right {
    /*PARENT FLEX INFO*/
    flex: 4;
    order: 2;
    
    /*CHILD FLEX*/
    display: flex;
    flex-direction: column;
    
    margin-left: 10px;
    margin-right: 10px;
  }
  
  /*TOP PART OF THE TWEET.
  HANDLE
  TIME CREATED
  */
  .top-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    order: 1;
    margin-bottom: -20px;
  }
  
  .handle {
    order: 1;
    opacity: 0.7;
    font-size: 20px;
  }
  
  .time {
    order: 2;
    opacity: 0.3;
  }
  
  /*BOTTOM PART OF THE TWEET.
  CONTENT
  */
  .bottom-wrapper {
    order: 2;
  }
  
  /* Other styles */
  .pic:hover {
    transform: scale(1.025);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-right>li>a:hover {
    background-color: grey;
    color: white;
}

.navbar-right {
    float: right;
}